---
import { getCollection } from "astro:content";
import FormattedDate from "./FormattedDate.astro";
import TagLink from "./TagLink.astro";
import { cn } from "../utils/cn";

const posts = await getCollection("aussagen");
---

<div class="px-4 md:px-16 flex flex-col gap-4 mt-16 bg-primary py-6 md:py-12">
  <ul class="flex gap-8 mb-4">
    <li class="font-medium text-base text-black border-b-2 py-2 px-4 cursor-pointer hover:italic">Alle Sprüche</li>
    <li class="font-medium text-base text-black py-2 px-4 cursor-pointer hover:italic">Tagcloud</li>
  </ul>
  {
    posts.map((post, i) => (
      <div class={cn("flex gap-2 justify-between border-b-white pb-4", (i + 1) !== posts.length && "border-b")}>
        <div class="flex flex-col justify-center gap-4">
          {/* <p>{post.data.pubDate}</p> */}
          {/*<FormattedDate date={post.data.pubDate} />*/}
          <a class="font-bold text-4xl text-neutral-800 hover:italic" href={`/aussagen/${post.slug}`}>
            "{post.data.title}"
          </a>
          
          <div class="flex gap-2 hidden">
              {post.data.tags?.map((i) => {
                return <TagLink tag={i} />;
              })}
          </div>
        </div>
        <a href={`/aussagen/${post.slug}`} class="overflow-hidden rounded-md">
          <img
            src={post.data.heroImage}
            alt=""
            class="w-40 h-24 bg-contain border border-gray-200 blur-md scale-125 hover:scale-150 transition-all"
          />
        </a>
      </div>
    ))
  }
</div>
